// Variables
$link-color: white;
$border: 1px solid black;
$card-header-margin-top: 1.14rem;

// Sticky Footer
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

a {
	color: $link-color
}

h1, h2, h3, h4, h5, h6, html {
	font-weight: 200;
}

nav ul a {
	padding: 0 20px;
}

div {
	.brand-logo {
		padding-left: 10px;
		font-size: 2.1rem;
		display: flex;
		img {
			height: 50px;
			margin-top: 6px;
		}
		span,
		h5 {
			display: inline-block;
			margin-left: 10px;
		}
	}
}

.page-info {
	.title {
		margin: 3rem;
		h1 {
			font-size: 2.2rem;
			margin-bottom: 0;
		}
		.title-date {
			font-size: 1.3rem;
			height: 21px;
		}
	}
	.disclaimer {
		margin-bottom: 2rem;
	}
}

.card {
	margin: 1rem 0 2rem;
	.card-header {
		margin-bottom: 30px;
		.header-highlight {
			margin-top: $card-header-margin-top;
			padding: 5px 10px;
			border-radius: 15px;
		}
		.hazard-status {
		    float: right;
		}
		.asteroid-count {
			float: left;
		}
	}
	.asteroid-name {
		font-weight: 300;
		margin-top: $card-header-margin-top;
	}
	.data-point {
		margin: 12px 0;
	}
	.data-primary {
		font-size: 18px;
		font-weight: 400;
	}
	.data-secondary {
		font-size: 16px;
		font-weight: 400;
	}
	.data-block {
		height: 230px;
		.col {
			padding: 0;
		}
		h3 {
			font-size: 1.5rem;
			margin-bottom: 2rem;
			margin-top: .5rem;
		}
	}
}

.border-right {
	border-right: $border;
}